
html{
	background-image: url("pinkribbon.jpeg")
}
img{
	height: 10%;
}
nav{
	background-color: pink;
}

nav li {
	display: inline 
	margin: 0;
	color: grey;

}
li{
	display: inline;
	font-size: 42px;
	font-stretch: 50px;
}
.pinkbox{
	float:left;
}
.p{
	font- color: pink;
	font-size: 25px;

}

.iframe{

}

.nav-wrapper{
	text-align: center;
	 background-color: pink;
	 position: fixed;
	 top:0;
	 left:0;
	 width: 100%;
	}

.nav-wrapper ul{
	margin: 0;
	padding: 0;
}
.nav-wrapper li{
	display: inline-block;
	padding: 10px;
}
.nav-wrapper a{
	color: black;
}
.
.